/* --------------- Responsive Tabs toggle --------------- */

/* desktop screen */
@media only screen and (min-width : 1140px){

  .device-big,
  .tab-content>.tab-pane {
    display: block !important;
  }

  .device-small {
    display: none !important;
  }

  .tab-content>.tab-pane {
    display: block !important;
  }

}

/* --------------- Responsive Tabs toggle --------------- */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#app {
  max-width: 100% !important;
  background-color: #CEAB93;
  height: 100vh;
  width: 100%;

  .navbar {
    background: rgb(36, 38, 38);
    background: linear-gradient(45deg, rgba(36, 38, 38, 1) 0%, rgba(31, 33, 33, 1) 25%, rgba(25, 26, 26, 1) 51%, rgba(31, 33, 33, 1) 78%, rgba(36, 38, 38, 1) 100%);
    height: 6vh;
    min-height: 25px;
    max-height: 50px;
    margin-bottom: 0.3vh;
    box-shadow: inset 0 -8px 2px -5px #CEAB93;

    p {
      color: #AD8B73;
      text-shadow: 0 0 2px #ceab93b0;

      span {
        color: #ecdabe;
        text-shadow: 0 0 3px #FFFBE9;
      }
    }
  }

  .title-container {
    height: 5vh;
    text-shadow: 2px 2px 5px rgba(31, 31, 31, 0.7);
    min-height: 25px;

    .content-title {
      height: 5vh;
      line-height: 4vh;
    }
  }

  ul {
    border-bottom: none !important;

    .nav-item {
      width: 46.5% !important;
      z-index: 1;

      .nav-link {
        color: black;
        border-color: lightgrey;
        text-shadow: 1px 1px 5px rgba(31, 31, 31, 0.4);
        box-shadow: 0 0 5px rgba(31, 31, 31, 0.4);
        background-color: #AD8B73;
      }

      .nav-link.active {
        background-color: #ecdabe;
        font-style: oblique;
      }

      .nav-link:hover {
        color: firebrick;
        text-shadow: 1px 1px 5px rgba(31, 31, 31, 0.7);

      }
    }
  }

  textarea {
    background-color: #ecdabe;
    box-shadow: 0 0 5px rgba(31, 31, 31, 0.4);
    width: 100%;
    height: 86vh;
    border: none;
    border-radius: 0;
  }

  #preview {
    background-color: #ecdabe;
    box-shadow: 0 0 5px rgba(31, 31, 31, 0.4);
    width: 100%;
    height: 86vh;
    overflow-y: auto;
    padding: 12px;
    padding-top: 6px;

    pre {
      background-color: #FFFBE9;
      border-radius: 5px;
    }

    code {
      background-color: #FFFBE9;
    }

    table,
    tr,
    th,
    td {
      border: 1px solid black;
    }

    img {
      max-width: 100%;
    }
  }

  .tab-content {
    max-width: 100%;
    --bs-gutter-x: 0;
  }

  #editor-pane {
    padding-left: 1%;
    padding-right: 1%;
    width: 95%;
  }

  #markdown-pane {
    padding-left: 1%;
    padding-right: 1%;
    width: 95%;
  }

  @media only screen and (min-width : 1140px) {
    #editor-pane {
      padding-left: 1%;
      padding-right: 1%;
      max-width: 48%;
    }

    #markdown-pane {
      padding-left: 1%;
      padding-right: 1%;
      max-width: 48%;
    }

    textarea,
    #preview {
      border-radius: 8px;
    }
  }

  footer {
    background-color: #CEAB93;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    bottom: 0;

    a {
      text-decoration: none;
      color: rgba(31, 33, 33, 1);
      font-weight: 500;
      text-shadow: 0 0 3px rgba(31, 31, 31, 0.7);
    }

    a:hover {
      color: rgba(15, 15, 15, 1);
      text-shadow: 0 0 3px rgb(0, 0, 0);
    }
  }

}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}